.bureau{
	display: flex;
	flex-wrap: wrap;
	margin-top: 24px;
	h2{
		margin: 0;
		font-size: 36px;
		font-weight: 400;
	}
	.content{
		border-top: 2px solid black;
	}
	.intro{
		width: 60%;
		p{
			font-size: 36px;
			margin: 14px 0 0 0;
		}
	}
	.contact{
		width: 35%;
		margin-left: 5%;
		p {
			font-size: 24px;
		}
	}
	.section{
		width: 100%;
		margin: 48px 0 0 0;
		h2{
			width: 100%;
			border-bottom: 2px solid black;
		}
		p{
			font-size: 36px;
			line-height: 1;
			width: 60%;
			margin: 14px 0 0 0;
			a{
				text-decoration: underline;
			}
		}
		.flex{
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			.flex-item {
				width: calc(20% - 20px);
				height: 100%;
				margin: 14px 20px 20px 0;
				position: relative;
				h3 {
					font-size: 24px;
					font-weight: normal;
					border-bottom: 2px solid black;
					padding: 0 0 5px 0;
					margin: 0 0 10px 0;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
}

.recent {
	margin-top: 24px;

	h2 {
		margin: 0;
		font-size: 36px;
		font-weight: 400;
		border-bottom: 2px solid black;
		margin-bottom: 24px;
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		.news-item{
			width: calc(25% - 20px);
			height: auto;
			margin: 0 20px 20px 0;
			position: relative;
			.date{
				width: 100%;
				border-bottom: 2px solid black;
				text-align: left;
				font-size: 28px;
			}
			.wrapper{
				font-size: 18px;
				width: 100%;
				position: relative;
				img {
					width: 100%;
					height: 13vw;
					object-fit: cover;
					margin-top: 10px;
				}
				p{
					width: 100%;
					margin: 0;
				}
			}
		}
	}
}