.bureau{
	display: flex;
	flex-wrap: wrap;
	h6 {
			font-size: 24px;
			font-weight: normal;
			margin: 14px 0 0 0;
		}
	h2{
		margin: 0;
		font-size: 36px;
		font-weight: 400;
	}
	.content{
		border-top: 2px solid black;
	}
	.intro{
		width: 45%;
		margin-right: 5%;
		padding-bottom: 24px;
		p {
			font-size: 24px;
			margin: 14px 0 0 0;
			font-weight: normal;
			line-height: 1.2;
		}
		h1{
			font-size: 36px;
			margin: 14px 0 0 0;
			font-weight: normal;
			line-height: 1.1;
		}
	}
	.section{
		width: 100%;
		&.medium{
			width: 45%;
			margin-right: 5%;
			// max-width: 600px;
			// &:nth-child(even) {
			// 	margin-left: 5%;
			// }
			.flex .flex-item{
				width: 100%;
				margin-right: 0;
				margin-left: 0;
			}
		}
		&.small {
			width: 30%;
			.flex .flex-item {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 0;
				margin-left: 0;
			}
		}
		&.large {
			width: 100%;
			margin-left: 0;
			.text-wrap{	
				display: flex;
				p{
					width: 30%;
					margin-right: 2%;
				}
			}
		}
		h2{
			width: 100%;
			border-bottom: 2px solid black;
			margin: 48px 0 0 0;
		}
		h3 {
			font-size: 28px;
			font-weight: normal;
			width: 100%;
			margin: 14px 0 0 0;
			line-height: 1.1;
		}
		.flex{
			h2 {
				font-size: 36px;
				font-weight: normal;
				width: 60%;
				margin: 14px 0 0 0;
			}
			h2 {
				font-size: 32px;
				font-weight: normal;
				width: 60%;
				margin: 14px 0 0 0;
			}
			h3 {
				font-size: 28px;
				font-weight: normal;
				width: 100%;
				margin: 14px 0 0 0;
			}
		}
		p{
			font-size: 24px;
			line-height: 1.2;
			width: 100%;
			margin: 14px 0 0 0;
			a{
				text-decoration: underline;
			}
		}
		.flex{
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			.flex-item {
				width: calc(30% - 20px);
				height: 100%;
				margin: 14px 20px 20px 0;
				position: relative;
				h3 {
					font-size: 24px;
					font-weight: normal;
					border-bottom: 2px solid black;
					padding: 0 0 5px 0;
					margin: 0 0 10px 0;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				.info-text{
					display: none;
				}
				.close{
					display: none;
				}
				&.selected{
					width: 100%;
					margin: 14px 0 20px 0;
					.content-wrapper{
						display: flex;
					}
					.close {
						display: block;
						position: absolute;
						width: 20px;
						height: 25px;
						cursor: pointer;
						top: 8px;
						right: 0;
					}
					img{
						width: auto;
						max-height: 70vh;
						max-width: 50vw;
						object-fit: contain;
						object-position: left top;
					}
					.info-text{
						width: 40%;
						max-width: 500px;
						display: block;
						p{
							margin: 0 0 18px 24px;
							font-size: 18px;
							line-height: 1.2;
							width: 95%;
						}
					}
				}
			}
		}
	}
}

.recent {
	h2 {
		margin: 0;
		font-size: 36px;
		font-weight: 400;
		border-bottom: 2px solid black;
		margin-bottom: 24px;
	}

	.close {
		display: none;
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		.news-item{
			width: calc(25% - 20px);
			height: auto;
			margin: 0 20px 20px 0;
			position: relative;
			.wrap{
				display: none;
			}
			&.selected{
				width: 100vw;
				.wrap{
					display: flex;
					flex-wrap: wrap;
					width: 100%;
				}
				.wrapper{
					display: flex;
					img{
						width: 75%;
						object-fit: contain;
						height: auto;
						margin-right: 14px;
					}
					p{
						margin-top: 10px;
					}
				}
				.close {
					display: block;
					position: absolute;
					width: 20px;
					height: 25px;
					cursor: pointer;
					top: 8px;
					right: 0;
				}
				.image{
					width: auto;
					max-height: 70vh;
					margin: 14px 14px 0 0;
					img{
						object-fit: contain;
						max-height: 70vh;
					}
				}
				.extra-content{
					margin-top: 14px;
					display: flex;
					flex-wrap: wrap;
					p{
						width: 24vw;
						margin-right: 2vw;
					}
				}
				.caption p{
					width: 65%;
				}
				.video{
					margin-top: 24px;
				}
			}
			.date{
				width: 100%;
				border-bottom: 2px solid black;
				text-align: left;
				font-size: 28px;
			}
			.wrapper{
				font-size: 18px;
				width: 100%;
				position: relative;
				min-height: 13vw;
				.big{
					font-size: 28px;
				}
				img {
					width: 100%;
					height: 13vw;
					object-fit: cover;
					margin-top: 10px;
				}
				p{
					width: 100%;
					margin: 0;
				}
			}
		}
	}
}

.clickable {
	cursor: pointer;
}