@font-face {
  font-family: favorit;
  src: url(/fonts/Favorit.ttf);
  font-weight: 500;
}

@font-face {
  font-family: favorit;
  src: url(/fonts/ABCFavoritMono-Light-Trial.woff2);
  font-weight: 100;
}

@font-face {
  font-family: favorit;
  src: url(/fonts/ABCFavorit-Regular-Trial.otf);
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: favorit, sans-serif;
  position: relative;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container{
  margin:0;
  padding: 135px 48px 0 48px;
  position: relative;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  height: 115px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  .logo{
    h1{
      font-size: 21px;
      font-weight: 500;
    }
  }
  .menu-items{
    display: flex;
    justify-content: center;
    .menu-item {
      padding: 21px 36px;
      font-size: 21px;
      font-weight: 400;
    }
  }
  .language-switcher{
    display: flex;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    .current-language a{
      text-decoration: underline;
    }
    div{
      margin-left: 5px;
      &:after{
        content: ' /';
      }
      &:last-child{
        &:after {
          content: '';
        }
      }
    }
  }
}