@font-face {
  font-family: favorit;
  src: url(/fonts/Favorit.ttf);
  font-weight: 500;
}

@font-face {
  font-family: favorit;
  src: url(/fonts/ABCFavoritMono-Light-Trial.woff2);
  font-weight: 100;
}

@font-face {
  font-family: favorit;
  src: url(/fonts/ABCFavorit-Regular-Trial.otf);
  font-weight: 400;
}

@font-face {
  font-family: circular;
  src: url(/fonts/circular-book.otf);
  font-weight: 300;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: circular, sans-serif;
  position: relative;
  scroll-padding-top: 115px;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container{
  margin:0;
  padding: 115px 3vw 0 3vw;
  position: relative;
}

.menu .mobile-menu {
  display: none;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  height: 115px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  .logo{
    img{
      width: 150px;
    }
  }
  .menu-items{
    position: fixed;
    top: 24px;
    left: 240px;
    display: flex;
    justify-content: center;
    .menu-item {
      padding: 17px 0px;
      font-size: 18px;
      font-weight: 400;
      position: relative;
      text-align: left;
      width: 100%;
      white-space: nowrap;
      a{
        padding: 0px 2vw;
      }
      // .dropdown {
      //   a {
      //     display: block;
      //     padding: 10px 0px;
      //   }
      // }
      .Collapsible{
        width: 100%;
        padding: 0px 36px;
        transition: all 0.4s ease;
        cursor: pointer;
        span{
          &.is-closed:after{
            content: " ";
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            position: absolute;
            right: 36px;
            top: 28px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
          &.is-open:after {
            content: " ";
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            position: absolute;
            right: 36px;
            top: 30px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
        }
        .Collapsible__contentOuter{
          margin-top: 10px;
          background-color: white;
          padding: 0px 36px;
          width: 100%;
        }
      }
    }
  }
  .language-switcher{
    display: flex;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    width: 40px;
    height: 36px;
    .current-language a{
      border-bottom: 1.5px solid black;
    }
    .lang{
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &#nl-nl {
        left: -80px;
        &:after {
          content: ' /';
          padding-left: 5px;
        }
      }
      &#en-gb{
        left: -40px;
        &:after {
          content: ' /';
          padding-left: 5px;
        }
      }
      &#zh-cn {
        margin-left: 0px;
      }
    }
  }
}

.image{
  width: 100%;
  height: 100%;
}


footer{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  .column-wrapper{
    display: flex;
    width: 100%;
    justify-content: space-between;
    &:last-child{
      justify-content: flex-end;
      .column{
        margin-right: 0;
        margin-left: 24px;
      }
    }
  }
}


.img-effect {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;

  &::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #fff;
    z-index: 5;
    top: 0;
    left: 0;
    animation: loading 0.5s 1 ease-in-out;
  }
}

// .img-effect {
//   width: 100%;
//   height: 100%;
//   position: relative;
//   overflow: hidden;
//   transition: all 0.4s ease-in-out;

//   &::after {
//     content: " ";
//     position: absolute;
//     width: 0;
//     height: 100%;
//     // background-color: #fff;
//     z-index: 5;
//     top: 0;
//     left: 0;
//     animation: loading 2s 1 linear;
//     // opacity: 0.5
//   }
// }

// .project-item .img-effect::after {
//   background-color: #fff;
//   // mix-blend-mode: multiply;
//   opacity: 0.3;
//   height: calc(100% - 4px);
// }

// .sociale-cohesie .img-effect::after{
//   background-color: #c0a8b3;
//   mix-blend-mode: multiply;
//   height: calc(100% - 4px);
// }

// .circulair .img-effect::after {
//   background-color: #bce4e5;
//   mix-blend-mode: multiply;
//   height: calc(100% - 4px);
// }

// .houtbouw .img-effect::after {
//   background-color: #f5ebc1;
//   mix-blend-mode: multiply;
//   height: calc(100% - 4px);
// }

// .voedsel .img-effect::after {
//   background-color: #fff100;
//   mix-blend-mode: multiply;
//   height: calc(100% - 4px);
// }


// @keyframes loading {
//   0% {
//     width: 100%;
//   }

//   100% {
//     width: 0;
//   }
// }

@keyframes loading {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}