@font-face {
  font-family: favorit;
  src: url(/fonts/Favorit.ttf);
  font-weight: 500;
}

@font-face {
  font-family: favorit;
  src: url(/fonts/ABCFavoritMono-Light-Trial.woff2);
  font-weight: 100;
}

@font-face {
  font-family: favorit;
  src: url(/fonts/ABCFavorit-Regular-Trial.otf);
  font-weight: 400;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: favorit, sans-serif;
  position: relative;
  font-weight: 400;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.main-container{
  margin:0;
  padding: 115px 48px 0 48px;
  position: relative;
}

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 48px;
  height: 115px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  .logo{
    h1{
      font-size: 21px;
      font-weight: 500;
    }
  }
  .menu-items{
    position: fixed;
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    .menu-item {
      padding: 21px 0px;
      font-size: 21px;
      font-weight: 400;
      position: relative;
      text-align: left;
      width: 100%;
      a{
        padding: 21px 36px;
      }
      .dropdown {
        a {
          display: block;
          padding: 10px 0px;
        }
      }
      .Collapsible{
        width: 100%;
        padding: 0px 36px;
        transition: all 0.4s ease;
        cursor: pointer;
        span{
          &.is-closed:after{
            content: " ";
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            position: absolute;
            right: 36px;
            top: 28px;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
          &.is-open:after {
            content: " ";
            border: solid black;
            border-width: 0 3px 3px 0;
            display: inline-block;
            padding: 3px;
            position: absolute;
            right: 36px;
            top: 30px;
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
          }
        }
        .Collapsible__contentOuter{
          margin-top: 10px;
          background-color: white;
          padding: 0px 36px;
          width: 100%;
        }
      }
    }
  }
  .language-switcher{
    display: flex;
    font-size: 21px;
    font-weight: 400;
    text-transform: uppercase;
    .current-language a{
      text-decoration: underline;
    }
    div{
      margin-left: 5px;
      &:after{
        content: ' /';
      }
      &:last-child{
        &:after {
          content: '';
        }
      }
    }
  }
}