.projects{
	// padding-top: 120px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	.project-item{
		margin: 0px 12px 24px 12px;
		padding-top: 10px;
		width: calc(33% - 22px);
		transition: width 1s linear;
		position: relative;
		.description, .caption, .extra-info{
			display: none;
		}
		&.selected{
			width: 100%;
			.title{
				display: flex;
				justify-content: space-between;
				&:after{
					content: "x";
					cursor: pointer;
				}
			}
			.flex{
				display: flex;
			}
			.cover{
				width: 65%;
			}
			.description{
				width: 31%;
				margin-left: 4%;
				display: block;
				font-size: 20px;
			}
			.caption{
				margin: 36px 0;
				display: flex;
				align-items: flex-start;
				p{
					width: 65%;
					font-size: 48px;
					margin: 0;
					line-height: 1.1;
				}
				div{
					width: 30%;
					margin-right: 5%;
					border-top: 2px solid black;
					font-size: 18px;
					padding-top: 5px;
				}
			}
			.extra-info{
				display: block;
				margin: 24px 0 48px 0;
				.slick-slider{
					height: auto;
				}
				.slick-slide{
					margin-right: 48px;
				}
				.info{
					margin-top: 24px;
					margin-left: 10%;
					display: flex;
					justify-content: flex-end;
					width: 90%;
					div{
						width: 30%;
						margin-left: 24px;
					}
				}
			}
		}
		h2{
			margin: 0;
		}
		.title {
			font-size: 34px;
			cursor: pointer;
			border-bottom: 2px solid #000;
			line-height: 1.1;
		}
		.tags{
			display: flex;
			justify-content: end;
			a{
				margin-left: 5px;
				font-weight: bold;
				&::after{
					content: ' /'
				}
				&:last-child{
					&::after {
						content: ''
					}
				}
				&::first-letter{
					text-transform: uppercase;
				}
			}
		}
		height: auto;
		.cover{
			padding-top: 10px;
			img{
				width: 100%;
				height: auto;
			}
			h2{
				font-size: 48px;
				font-weight: 400;
				line-height: 1.1;
			}
		}
	}

	.sociale-cohesie.selected {
		&:after{
				position: absolute;
				top: 0;
				left: -130%;
				width: 120%;
				height: 100%;
				padding-right: 3px;
				background-color: transparent;
				box-shadow: 110vw 0px #c0a8b3;
				content: "";
				z-index: -1;
				opacity: 0.2;
		}
	}
	.circulair.selected {
		&:after {
			position: absolute;
			top: 0;
			left: -130%;
			width: 120%;
			height: 100%;
			padding-right: 3px;
			background-color: transparent;
			box-shadow: 110vw 0px #bce4e5;
			content: "";
			z-index: -1;
			opacity: 0.2;
		}
	}
	.houtbouw.selected {
		&:after {
			position: absolute;
			top: 0;
			left: -130%;
			width: 120%;
			height: 100%;
			padding-right: 3px;
			background-color: transparent;
			box-shadow: 110vw 0px #f5ebc1;
			content: "";
			z-index: -1;
			opacity: 0.2;
		}
	}
	.voedsel.selected {
		&:after {
			position: absolute;
			top: 0;
			left: -130%;
			width: 120%;
			height: 100%;
			padding-right: 3px;
			background-color: transparent;
			box-shadow: 110vw 0px #fff100;
			content: "";
			z-index: -1;
			opacity: 0.2;
		}
	}
}